doctype html
html
  head
    title= title
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/react.js')
    script(src='https://login.persona.org/include.orig.js')
    script(src='/js/App.js')
  body
    block content
    script
      | React.render(React.createElement(App, null), document.getElementById('content'));